# ULX3S Pin Constraints (LPF format for ECP5)
# LFE5U-85F-6BG381C

# Clock (25 MHz onboard)
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# Reset button (BTN0)
LOCATE COMP "btn[0]" SITE "D6";
IOBUF PORT "btn[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;

# LEDs (for status)
LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[7]" SITE "H3";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

# VGA (for future video output)
# VGA Red
LOCATE COMP "vga_r[0]" SITE "A4";
LOCATE COMP "vga_r[1]" SITE "A3";
LOCATE COMP "vga_r[2]" SITE "B3";
LOCATE COMP "vga_r[3]" SITE "B4";

# VGA Green
LOCATE COMP "vga_g[0]" SITE "C3";
LOCATE COMP "vga_g[1]" SITE "D3";
LOCATE COMP "vga_g[2]" SITE "E3";
LOCATE COMP "vga_g[3]" SITE "E4";

# VGA Blue
LOCATE COMP "vga_b[0]" SITE "F3";
LOCATE COMP "vga_b[1]" SITE "F4";
LOCATE COMP "vga_b[2]" SITE "G3";
LOCATE COMP "vga_b[3]" SITE "G4";

# VGA Sync
LOCATE COMP "vga_hsync" SITE "C5";
LOCATE COMP "vga_vsync" SITE "D5";

IOBUF PORT "vga_r[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_r[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_r[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_r[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_g[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_g[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_g[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_g[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_b[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_b[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_b[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_b[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_hsync" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "vga_vsync" IO_TYPE=LVCMOS33 DRIVE=4;

# FTDI USB UART (for host communication)
LOCATE COMP "ftdi_txd" SITE "L4";
LOCATE COMP "ftdi_rxd" SITE "M1";
IOBUF PORT "ftdi_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_rxd" IO_TYPE=LVCMOS33;
